<div class="contents row">
  <a href="/">一覧にもどる</a>
  <%= form_for @article,:url =>{:blogs => :create} do |f|%>
    <h3>
      投稿する
    </h3>
    <%= f.text_field :title, placeholder: "title" %>
    <%= f.text_field :image, placeholder: "Image Url" %>
    <%= f.text_area :content, placeholder: "text" , rows: "10" %>
    <%= f.submit "SEND" %>
  <% end %>
</div>